@charset "utf-8";
@import './mixin';

html {
  overflow-x: hidden;
}

.section_title {
  text-align: center;
  margin-bottom: clamp(4rem, 6vw, 9rem);

  dt {
    font-size: clamp(3rem, 5vw, 5rem);
    margin-bottom: 0.5em;
  }

  dd {
    font-size: clamp(1.4rem, 4vw, 1.9rem);
    color: #9c9c9c;
    line-height: 1.3;
  }
}

// 메인 비주얼
.visual {
  position: relative;
  margin: 10.1rem 0 clamp(5rem, 10vw, 9rem) 0;

  &__title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 1;
    color: #fff;
    text-align: center;

    dt {
      font-size: clamp(3rem, 7vw, 6rem);
      font-weight: 300;
      margin-bottom: 0.7em;
      line-height: 1.3;
    }

    dd {
      font-size: clamp(1.4rem, 4vw, 2rem);
      line-height: 1.4;
    }
  }

  &__slide {
    li {
      img {
        width: 100%;
        @include centerX(relative);

        @media screen and (min-width:1925px) {
          width: 100%;
        }
      }
    }

    .slick-arrow {
      width: 10rem;
      height: 10rem;
      box-sizing: border-box;
      border: 1px solid #fff;
      border: 1px solid #ddd;
      z-index: 2;
      top: auto;
      bottom: 5rem;
      transition: background-color 0.3s;

      &::before {
        width: 2.6rem;
        height: 1.1rem;
        opacity: 1;
        display: block;
        margin: 0 auto;
      }

      &:hover {
        background-color: rgba(7, 101, 175, 0.7);
      }
    }

    .slick-prev {
      right: auto;
      left: 50%;
      transform: translateX(-100%);

      &::before {
        background: url(../images/main/slidePrev.png) no-repeat center;
      }
    }

    .slick-next {
      right: auto;
      left: 50%;
      transform: translateX(10%);

      &::before {
        background: url(../images/main/slideNext.png) no-repeat center;
      }
    }
  }

  .mv_pc {
    display: none;
  }

  &__frame {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/main/frame.png) no-repeat center bottom;
    background-size: 100% auto;
    pointer-events: none;
  }

  @include pc {
    // &__slide {
    //   li{
    //     img{
    //       max-width: 100%;
    //     }
    //   }
    // }
    .mv_mobile {
      display: none;
    }
    .mv_pc {
      display: block;
    }
    .slick-arrow {
      top: 50%;
      transform: translateY(-50%);

      &:hover {
        background-color: rgba(7, 101, 175, 0.7);
      }
    }

    .slick-prev {
      left: 2.5%;
    }

    .slick-next {
      left: auto;
      right: 2.5%;
    }
  }
}

.mainSection {
  margin-bottom: clamp(7rem, 15vw, 15rem);
}

// 스토리
.story {
  margin-bottom: 5rem;

  &__left {
    width: 100%;
    max-width: 97rem;
    margin: 0 auto 2.5rem auto;
  }

  &__thum {
    width: calc(100% - 8rem);
    margin: 0 auto;

    li {
      cursor: pointer;

      .tag {
        display: none;
      }
    }

    .slick-slide {
      margin: 0 1rem;
    }

    .slick-current {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 5px solid #2c67eb;
        pointer-events: none
      }

      // box-sizing: border-box;
      // border: 5px solid #2c67eb;
    }

    .slick-arrow {
      width: 3.6rem;
      height: 2.2rem;
      top: 40%;
      transform: translateY(-50%);
    }

    .slick-prev {
      background: url(../images/main/thum_prev.png);
      left: -4rem;
      transform: rotate(-90deg)
    }

    .slick-next {
      background: url(../images/main/thum_next.png);
      right: -4rem;
      transform: rotate(-90deg)
    }
  }

  &__slide {
    li {
      position: relative;

      .texts {
        display: none;
      }
    }
  }


  @include pc {
    @include flexStart;

    &__right {
      width: 30rem;
    }

    &__thum {
      width: 100%;

      li {
        position: relative;

        .tag {
          display: block;
          position: absolute;
          top: 2rem;
          right: 2rem;
          color: #fff;
          font-size: 1.6rem;
          font-weight: 500;
          z-index: 2;
        }

        &::after {
          content: '';
          width: 100%;
          height: 100%;
          background-color: #000;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          opacity: 0.3;
        }
      }

      .slick-slide {
        margin: 0 0 1.7rem 0;
      }

      .slick-arrow {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
      }

      .slick-prev {

        top: -3rem;
      }

      .slick-next {

        top: auto;
        bottom: -3rem;
      }
    }

    &__slide {
      li {
        position: relative;

        .texts {
          display: block;
          position: absolute;
          color: #fff;
          bottom: 3rem;
          left: 3rem;
          z-index: 2;

          .text01 {
            font-size: 1.8rem;
            margin-bottom: 1rem;
            display: none;
          }

          .text02 {
            font-size: 2.7rem;
            font-weight: 500;
            margin-bottom: 1.5rem;
          }

          .text03 {
            font-size: 1.8rem;
            display: none;
          }
        }

        &::after {
          content: '';
          width: 100%;
          height: 100%;
          background-color: #000;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          opacity: 0;
          transition: opacity 0.3s;
        }

        &:hover {
          &::after {
            opacity: 0.3;
          }

          .texts {

            .text01,
            .text03 {
              display: block;
            }
          }
        }
      }
    }
  }
}

// 파트너
.partners {
  @include flexStart;
  flex-wrap: wrap;

  li {
    width: 100%;
    height: 24rem;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    padding: 0 1rem;
    background-color: #fff;
    transition: all 0.5s;
    margin-bottom: 2rem;

    a {
      @include flexAlign;
      width: 100%;
      height: 100%;
    }

    .icon {
      margin: 0 auto 3rem auto;
      transition: all 0.5s;
    }

    .icon01 {
      width: 5.4rem;
      height: 4.2rem;
      background: url(../images/main/icon01.png) no-repeat;
      background-size: 100% auto;
    }

    .icon02 {
      width: 4.2rem;
      height: 4.7rem;
      background: url(../images/main/icon02.png) no-repeat;
      background-size: 100% auto;
    }

    .icon03 {
      width: 4.6rem;
      height: 4.2rem;
      background: url(../images/main/icon03.png) no-repeat;
      background-size: 100% auto;
    }

    .icon04 {
      width: 4.3rem;
      height: 4.7rem;
      background: url(../images/main/icon04.png) no-repeat;
      background-size: 100% auto;
    }

    .text01 {
      font-size: 1.7rem;
      font-weight: 500;
      margin-bottom: 1rem;
      color: #2c67eb;
      transition: color 0.5s;
    }

    .text02 {
      font-size: clamp(1.8rem, 3vw, 2.3rem);
      line-height: 1.3;
      transition: color 0.5s;
    }

    .arrow {
      width: 4.1rem;
      height: 1rem;
      margin: 3rem auto 0 auto;
      background: url(../images/main/partner_arrow.png) no-repeat center;
      transition: all 0.5s;
    }

    &:hover {

      .text01,
      .text02 {
        color: #fff;
      }

      .arrow {
        background: url(../images/main/partner_arrow_on.png) no-repeat center;
      }
    }
  }

  &__01:hover {
    background: url(../images/main/back01.jpg) no-repeat;
    background-size: cover;

    .icon01 {
      background: url(../images/main/icon01_on.png) no-repeat;
      background-size: 100% auto;
    }
  }

  &__02:hover {
    background: url(../images/main/back02.jpg) no-repeat;
    background-size: cover;

    .icon02 {
      background: url(../images/main/icon02_on.png) no-repeat;
      background-size: 100% auto;
    }
  }

  &__03:hover {
    background: url(../images/main/back03.jpg) no-repeat;
    background-size: cover;

    .icon03 {
      background: url(../images/main/icon03_on.png) no-repeat;
      background-size: 100% auto;
    }
  }

  &__04:hover {
    background: url(../images/main/back04.jpg) no-repeat;
    background-size: cover;

    .icon04 {
      background: url(../images/main/icon04_on.png) no-repeat;
      background-size: 100% auto;
    }
  }

  @include pc {
    justify-content: center;
    gap: 3rem;
    li {
      width: 30%;
      margin-bottom: 0;
    }
  }
}


.consult {
  background: url(../images/main/consult_bg.jpg) no-repeat;
  background-size: cover;
  padding: 9rem 0;

  &__left {
    background-color: rgba(256, 256, 256, 0.1);
  }

  &__title {
    color: #fff;
  }

  &__inputs {

    input {
      color: #fff;
      background-color: rgba(17, 17, 17, 0.5);
      border: 1px solid #525252;
    }

    textarea {
      background-color: rgba(17, 17, 17, 0.5);
      color: #fff;
      border: 1px solid #525252;
    }



    .agreeBox {

      label {
        color: #fff;
      }

      .viewPrav {
        color: #fff;
      }
    }
  }

  &__calc {

    input,
    .select_wrap {
      background-color: #2c2c2c;
      border: 1px solid #7a7a7a;
      color: #7a7a7a;
    }

    .select_wrap {
      background-image: url(../images/main/select.png);
    }
  }

  &__total {
    color: #fff;
  }

}

// 공지사항
.notice {
  padding: 4rem 0;

  &__title {
    font-size: clamp(2rem, 8vw, 3.5rem);

    a {
      color: #000000;
    }
  }

  &__board {
    display: flex;
    align-items: center;

    .date {
      text-align: center;
      border-right: 1px solid #eaeaea;
      padding-right: 2.5rem;
      margin-right: 2.5rem;

      span {
        display: block;
      }

      .ym {
        font-size: 1.2rem;
        font-weight: 300;
        color: #aaaaaa;
      }

      .day {
        font-size: 2.6rem;
      }
    }

    .title {
      width: calc(100% - 10rem);


      a {
        display: block;
        font-size: 1.6rem;
        color: #949494;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }


  @include pc {
    &__center {
      @include flexCenter
    }
  }

  @include mobileOnly(1200px) {
    &__title {
      margin-bottom: 2rem;
    }

    &__board {
      margin: 3rem 0;
    }
  }
}