@charset "utf-8";

/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 59px;
    padding: 0;
    /* -webkit-transform: translate(0, -50%); */
    -ms-transform: translate(0, -50%);
    /* transform: translate(0, -50%); */
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-next:hover,
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    z-index:1;
    left: -50px;
    background:url(../images/main/vod_left.png) no-repeat;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
   
}
[dir='rtl'] .slick-prev:before
{
    
}

.slick-next
{
    z-index:1;
    right: -49px;
    background:url(../images/main/vod_right.png) no-repeat;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left:0px;
}
.slick-next:before
{
width:10px; height:10px;	background-color:#fff;
}
[dir='rtl'] .slick-next:before
{
    content: '占쏙옙';
}

/* Dots */
.slick-dotted.slick-slider
{ 
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -40px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #777777;
    box-sizing: border-box;
    color: transparent;
    outline: none;
    border-radius:100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
   
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 10px;
    height: 10px;

   
    text-align: center;

    opacity:1;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button
{
    opacity:1;
    background-color: #f37321;
    border: navajowhite;
}

/*수정된*/
.m_photowrap .slick-next {right: 0px;width:40px;height:81px;margin-top:-40px;background:url(../images/main/mgall_right.png);background-size:100%;-webkit-background-size:100%;}
.m_photowrap .slick-prev {left: 0px;width:40px;height:81px;margin-top:-40px;background:url(../images/main/mgall_left.png);background-size:100%;-webkit-background-size:100%;}

