@charset "euc-kr";
input:focus, textarea:focus {outline:none;}
.admin_wrap {height:100vh; width:100%;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#df6483+0,f1bd74+100 */
background: rgb(223,100,131); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(223,100,131,1) 0%, rgba(241,189,116,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(223,100,131,1) 0%,rgba(241,189,116,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(223,100,131,1) 0%,rgba(241,189,116,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df6483', endColorstr='#f1bd74',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.admin_wrap .admin_frm {max-width:540px; width:95%; margin: 0 auto; position:relative;
top:50%; transform: translateY(-50%);}
.admin_wrap .admin_frm .input_wrap {height:70px; border-radius:70px; border:1px solid #fff;
margin-bottom: 30px; box-sizing: border-box; padding-left:17%;}
.admin_wrap .admin_frm .input_wrap input {height:100%; border:none; background: none; font-size:18px;
width:83%;}
.admin_wrap .admin_frm .input_wrap input::placeholder {color:#333;}
.admin_wrap .admin_frm .login_btn {display: block; line-height:70px; border-radius: 70px; text-align: center; color:#fff;
font-size:23px; border:1px solid #fff;}
.admin_wrap .admin_frm .login_tab {
  background-image: url(../images/common/login_icon.png);
  background-position:center left 9.5%;
  background-repeat:no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: 25px;}
.admin_wrap .admin_frm .pwtab {
  background-image: url(../images/common/pw_icon.png);
  background-position:center left 9.5%;
  background-repeat:no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: 25px;
}
.admin_wrap .admin_frm .admin_logo {display:block; margin:0 auto 80px auto; max-width:100%;}