$lap: 1400px;
$tablet: 960px;
$mobile: 700px;


@mixin lap {
  @media screen and (max-width:$lap) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width:$tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width:$mobile) {
    @content;
  }
}


$red : #ec4646;
$brown : #614a3d;
$darkbrown : #19110c;
$dark : #090909;
$lightGrey : #f9f9f9;
$mainColor: #4b3e96;
$blkBg : rgba(0, 0, 0, 0.7);

@mixin centerX($p) {
  position: $p;
  left: 50%;
  transform: translateX(-50%);
}

@mixin centerY($p) {
  position: $p;
  top: 50%;
  transform: translateY(-50%);
}

@mixin centerC($p) {
  position: $p;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}


@mixin layout($inbox:null, $mb:null, $sizing:$mobile) {
  $box: unquote($inbox); //문자보간. 따옴표를 붙여야 한다.

  @media screen and (max-width:$sizing) {
    //모바일 기본값
    flex-wrap: wrap;

    #{$box} {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: $mb;
      }
    }
  }
}