@charset "euc-kr";

.tab_wrap {margin-bottom: 30px;}
.tab_wrap .current_page {line-height:44px; text-align:center; background-color:#64767f; color:#fff; font-size:16px; font-weight:500; display:none;}
.sub_tabs {overflow:hidden; text-align:center;}
.sub_tabs li {display: inline-block; max-width:168px; width:-webkit-calc(25% - 10px); width:calc(25% - 10px); line-height:44px; text-align:center;
  background-color:#fff; border-radius:44px; border:1px solid #dbdbdb; margin-left:5px;}
.sub_tabs li a {color:#4d4d4d; font-size:16px; font-weight:500; display:block;}
.sub_tabs li:first-child {margin-left:0;}
.sub_tabs .currrent {background-color:#64767f; border:none;}
.sub_tabs .currrent a {color:#fff;}


/*멤버, 로그인*/
.login_wrap {width:100%; max-width:484px; margin:0 auto;}
.login_title {font-size:25px; color:#222222; margin-bottom:25px; background:url(../images/sub/login_icon.png)  no-repeat center left; padding-left:35px;}
.login_box {width:100%; max-width:484px; /*height:373px; */ border:1px solid #ddd; box-sizing:border-box; padding:50px;}
.member_input {border:1px solid #ddd; box-sizing:border-box; width:100%; max-width:384px; height:50px; padding-left:10px; margin-bottom:10px;}

/*아이디/비번찾기*/
.finding_wrap {display:none;}
#tab01 {display:block;}
.fiding_tabs {overflow:hidden;}
.fiding_tabs li {width:50%; height:60px; line-height:60px; box-sizing:border-box; background-color:#f7f7f7; border:1px solid #ddd; text-align:center; float:left;}
.fiding_tabs li:first-child {border-right:none;}
.fiding_tabs li a {display:block; font-size:16px; font-weight:500;}
.fiding_tabs .find_on {background-color:#fff; border-bottom:none; border-top:2px solid #0092b4;}
.fiding_tabs .find_on a {color:#0092b4;}
.find_box {width:100%; max-width:484px; border:1px solid #ddd; border-top:none; box-sizing:border-box; padding:50px;}
.find_box .member_btn {margin-bottom:0;}
.fiding_title {font-size:25px; color:#222222; margin-bottom:25px; background:url(../images/sub/fiding_icon.png)  no-repeat center left; padding-left:35px;}

.check_wrap {margin:20px 0 30px 0;}
.check_wrap .check_box {display:inline-block; position:relative; vertical-align:middle;}
.check_wrap .check_box input[type="checkbox"] {position:absolute; right:0; width:1px; height:1px; padding:0; border:0 none; margin:0; top:0; overflow:hidden; clip:rect(0 0 0 0);}
.check_wrap .check_box label {background:url(../images/sub/uncheck.png) no-repeat center left; padding-left:25px;}
.check_wrap .check_box input[type="checkbox"]:checked+label {background:url(../images/sub/checked.png) no-repeat center left;}
.check_wrap > label {font-weight:300; font-size:15px; color:#666666; vertical-align:middle;}
.member_btn {display:block; width:100%; height:53px; line-height:53px; text-align:center; color:#fff; background-color:#191919; -webkit-border-radius:5px; border-radius:5px; margin:30px 0 20px 0;}
.member_lists {text-align:center;}
.member_lists li {display:inline-block; position:relative;}
.member_lists li a {font-size:14px; color:#222222; font-weight:300;}
.member_lists li:first-child {padding-right:10px; margin-right:7px;}
.member_lists li:first-child:before { content:''; width:1px; height:10px; background-color:#dddddd; position:absolute; right:0; top:5px;}
.sns_login {position:relative; padding-top:40px; border-top:1px solid #ddd; margin-top:25px; height:30px;}
.sns_login > p {font-size:16px; font-weight:500; color:#666666;}
.sns_btns {overflow:hidden; position:absolute; top:25px; right:0;}
.sns_btns li {float:left; margin-left:10px; width:45px;}
.sns_btns li img {width:100%;}



/*회원가입*/
.join_frm {position:relative;}
.join_frm .reserv_txt { position:static; margin-bottom:12px; text-align:right;}
.inut_join .join_long {width:445px;}
.inut_join .join_mid {width:197px;}
.inut_join .joining_btn { display:inline-block; font-size:14px; width:90px; height:30px; line-height:30px; text-align:center; margin:0 auto; -webkit-border-radius:5px; border-radius:5px; background-color:#f1f1f1; border:1px solid #ddd; vertical-align:middle; margin-left:10px;}
.inut_join tr th {width:auto;}
.inut_join tr td {padding-left:10px;}
.inut_join tr td .warn {font-size:14px; color:red; margin-top:10px; position: relative; padding-left: 15px; line-height: 1.3;}
.inut_join tr td .warn::before {content: '※'; position: absolute; left: 0; top:0;}
.inut_join tr td

.formElement {position:relative;display:inline-block;font-size:16px;height:37px;border:1px solid #ddd;background-color:#fff;background:url(../images/common/fam_arr.png) no-repeat center right 5px;/* display: block; */}
.formElement span {display:inline-block; vertical-align: middle; height:37px; padding-left: 10px; line-height:37px; text-align: left;}
.formElement select {width:100%; font-size:16px; height:50px; border:1px solid #ddd; background-color:#fff; opacity:0; position:absolute; left:0; top:0; display:block; padding-left:10px; filter: alpha(opacity=0); z-index:1;
 appearance: none; -webkit-appearance: none;  -moz-appearance: none; -o-appearance:none;}
.datxt {margin: 0 12px 0 8px;vertical-align: middle;}
#fE01 {width:100px;}
#fE02 {width:70px;}
#fE03 {width:70px;}

.phone_wrap {margin-bottom:10px;}
.phone_wrap .number_input {width:140px;}
.rdwrap {margin-top:10px;}
.rdwrap .rdmt {font-size:18px;}
.rdwrap span label {font-size:15px;}

.terms_wrap {margin-top:30px;}
.terms_wrap p {font-weight:500; font-size:22px; margin-bottom:20px;}
.terms_wrap .terms_box { box-sizing:border-box; border:1px solid #ddd; height:200px; padding:10px; line-height:1.4; white-space: pre-line; overflow-y:scroll;}

.agree_wrap {margin-top:15px; position:relative;}
.agree_wrap span {vertical-align:middle; display:inline-block;}
.agree_wrap .check_box input[type="checkbox"] {position:absolute; right:0; width:1px; height:1px; padding:0; border:0 none; margin:0; top:0; overflow:hidden; clip:rect(0 0 0 0);}
.agree_wrap .check_box label {background:url(../images/sub/uncheck.png) no-repeat center left; padding-left:25px;}
.agree_wrap .check_box input[type="checkbox"]:checked+label {background:url(../images/sub/checked.png) no-repeat center left;}

.banking01 {width:120px; margin-right:15px;}
.banking02 {width:480px;}

.basic_input {position:relative;}
.reserv_title {font-size:25px; font-weight:500; margin-bottom:20px; padding-left:30px; background:url(../images/sub/arr_blit.png) no-repeat center left;}
.reserv_txt {font-size:13px; font-weight:300; position:absolute; right:0; top:10px;}
.reserv_txt img { margin-right:5px;}
.inut_info {width:100%; border-top:3px solid #333;}
.inut_info tr th, .inut_info tr td {height:57px; box-sizing:border-box; padding:10px 0; vertical-align:middle;}
.inut_info tr th {font-size:18px; padding-left:20px; border-bottom:1px solid #b1b1b1; text-align:left; width:125px; font-weight:400;}
.inut_info tr th p {padding-left:14px; background:url(../images/sub/tddot.png) no-repeat center left;}
.inut_info tr td {padding-left:30px; border-bottom:1px solid #dddddd;}
.inut_info tr td .rdwrap span {margin-right:20px; vertical-align:middle;}
.inut_info tr td  span input[type="radio"] {margin:5px 5px 0 0; position:relative; top:2px;}
.inut_info tr td .date_choice {width:205px; height:37px; background-color:#f8f8f8; border:1px solid #ddd; box-sizing:border-box;}
.inut_info tr td .comment_input {width:100%; height:103px; background-color:#f8f8f8; border:1px solid #ddd; box-sizing:border-box; vertical-align:top; font-size:16px; padding:10px;}
.inut_info tr td .orders_txt {width:100%; height:180px; border:1px solid #ddd; padding: 10px; resize: none; box-sizing:border-box; background-color:#f8f8f8; font-size:16px;}
.inut_info .last_th {vertical-align:top;}
.inut_info .last_th p {padding-left:14px; background:none;}
.submit_reserv {display:block; width:270px; height:62px; line-height:62px; color:#fff; text-align:center; font-size:18px; background-color:#333333; margin:60px auto 0 auto;}
.reserv_allwrap {margin-bottom:70px;}
.inut_info tr td input[type="text"], .inut_info tr td input[type="password"], .inut_info tr td input[type="number"] {height:37px; border:1px solid #ddd; background-color:#f8f8f8; padding-left:5px; box-sizing:border-box; vertical-align:middle; font-size:18px;}
.info_inputxt {width:100%;}
.info_txtarea {width:100%; height:75px; border:1px solid #ddd; background-color:#f8f8f8; padding:5px; box-sizing:border-box; font-size:18px;}
.infinp_wran {margin-top:15px; font-size:15px; font-weight:300; line-height:1.3;}
.submit_btns {width:100%; max-width:390px; margin:40px auto 0 auto; overflow:hidden;}
.submit_btns li {float:left; width:50%; text-align:center; border:1px solid #ddd; height:56px; line-height:56px; box-sizing:border-box;}
.submit_btns li a {display:block; color:#fff; font-size:18px;}
.submit_btns .submit {background-color:#ad0400; border-right:none;}
.submit_btns .cancle {background-color:#333333;}


@media screen and (max-width:700px) {
/*회원가입*/
.inut_join tr, .inut_join tr th, .inut_join tr td {display:block; width:100%; height:auto;}
.inut_join tr th, .inut_join tr td {padding:20px 5px;}
.inut_join tr th {border-bottom:1px solid #ddd;}
.inut_join tr td {border-bottom:1px solid #b1b1b1;}
.inut_join tr td .full_input {width:100%;}
.inut_join .join_mid {width:100%;}
.inut_join .id_sell {width:60%;}
.phone_wrap .number_input {width: 30.4%;}

.tab_wrap {position:relative;}
.tab_wrap .current_page, .tab_wrap .current_page span {display:block;}
.tab_wrap .current_page span {background:url(../images/sub/sub_tab.png) no-repeat center right 15px;}
.tab_wrap .current_page .closen {background:url(../images/sub/close_tab.png) no-repeat center right 15px;}
.sub_tabs {position:absolute; width:100%; z-index:1; display:none;}
.sub_tabs li {border-radius:0; display:block; margin:0; max-width: none; width:100%; border-top:none; box-sizing:border-box;}
.sub_tabs .currrent {background-color:#fff; border:1px solid #dbdbdb; border-top:none;}
.sub_tabs .currrent a {color:#4d4d4d;}
}

@media screen and (max-width:500px) {
/*회원가입*/
.reserv_txt {line-height:1.4;}
.login_box, .find_box {padding:30px 20px;}
#fE01 {width: 70px;}
#fE02 {width: 50px;}
#fE03 {width: 50px;}
}
