@charset "uft-8";
@import './mixin';

.main__btn {
  border: 1px solid $blue;
  width: 17rem;
  height: 5rem;
  box-sizing: border-box;
  border-radius: 5rem;
  margin-top: 3rem;
  transition: all 0.5s;

  a {
    @include flexAlign;
    height: 100%;
    color: $blue;
    font-size: 1.6rem;
    font-weight: 500;
    transition: all 0.5s;
    background: url(../images/main/btnArr.png) no-repeat center right 3.5rem;

    &::after {
      content: '';
      display: block;
      width: 0.5rem;
      height: 0.9rem;
      margin-left: 2.4rem;
    }
  }

  &:hover,
  &.on {
    background-color: $blue;

    a {
      background: url(../images/main/btnArr_on.png) no-repeat center right 35px;
      color: #fff;
    }
  }
}

// .main__btn {
//   width: 17rem;
//   height: 5rem;
//   text-align: center;
//   border-radius: 5rem;
//   background-color: $blue;
//   margin-top: 2rem;

//   a {
//     @include flexAlign;
//     color: #fff;
//     font-size: 1.6rem;
//     font-weight: 500;
//     height: 100%;

//     img {
//       vertical-align: middle;
//       margin-left: 1rem;
//     }
//   }
// }

// 메인 슬라이드
.mainSlide {
  margin-top: 9.1rem;
  position: relative;

  &__center {
    @include centerC(absolute);
    z-index: 1;
  }

  &__slide {
    li {
      img {
        max-width: none;
        width: 300%;
        @include centerX(relative);
      }
    }

    .slick-dots {
      bottom: 3rem;

      li {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 100%;
        opacity: 0.5;

        button {
          background-color: #ffffff;
          border-radius: 100%;
          width: 1.4rem;
          height: 1.4rem;
          @include centerC(relative);
        }

        &.slick-active {
          border: 1px solid #fff;
        }
      }
    }

  }

  &__Title {
    transform: translateX(-50px);
  }

  .main__btn {
    transform: translateX(-50px);
  }

  @include tablet {
    margin-top: 10.1rem;

    &__slide {
      li {
        img {
          width: auto;

          @media screen and (min-width:1925px) {
            width: 100%;
          }
        }
      }

      .slick-dots {
        bottom: 7rem;
      }
    }
  }
}

// 메인컨텐츠
.mainCenter {
  padding: 7rem 0 2rem 0;

  &__Box {
    max-width: 48.6rem;
    // width: 100%;
  }

  &__vertical {
    font-weight: 700;
    color: #111111;
  }

  &__txts {
    dl {
      line-height: 1.4;
      font-size: 2.5rem;

      dt {
        font-size: 1em;
        font-weight: 700;
        color: #111111;
        margin-bottom: 0.8em;
      }

      dd {
        font-size: 0.75em;
        color: #555;
      }
    }
  }


  &__Kcultuer {
    display: none;
  }

  @include mobileOnly {
    width: 100%;

    .m_none {
      display: none
    }

    .m_block {
      display: block;
    }

    &__article {
      margin-top: 3rem;
    }

    &__vertical {
      font-size: 2.5rem;
      margin-right: 1.5rem;
    }

    &__Box {
      padding: 0 1.5rem;
      box-sizing: border-box;
    }

    &__txts {
      dl {
        font-size: 2rem;
      }
    }
  }

  @include lap {}

  @include tablet {
    padding: 15rem 0 0 0;
    background: url(../images/main/mainBg.png) no-repeat left 35% top 3rem;

    .m_none {
      display: flex;
    }

    .m_block {
      display: none;
    }

    &__flexWrap {
      @include flexStart;
      flex-wrap: wrap;

      &:first-child {
        margin-bottom: 9rem;
      }
    }

    &__leftBox {
      display: flex;
      flex-direction: column-reverse;
      position: relative;

      .mainCenter__article {
        padding: 4rem 0 8rem 0;
        transform: translateX(-50px);
      }

      .mainCenter__img {
        transform: translateX(-50px);
      }

      .mainCenter__vertical {
        margin-right: 2.4rem;
      }
    }

    &__rightBox {
      text-align: right;

      .mainCenter__article {
        padding: 10rem 0 0 0;
        flex-direction: row-reverse;
        transform: translateX(50px);
      }

      .mainCenter__img {
        transform: translateX(50px);
      }

      .mainCenter__vertical {
        margin-left: 2.4rem;
      }

      .mainCenter__btn {
        display: inline-block;
      }
    }

    &__vertical {
      font-size: 5.5rem;
    }

    &__Kcultuer {
      display: block;
      position: relative;
      left: -155px;
      transform: translateX(-50px);

      img {
        max-width: none;
      }
    }
  }
}


// 우리봄소식
.mainNews {
  margin-bottom: 7rem;

  &__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0.9em;
    transform: translateY(50px);
  }

  &__tabs {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    transform: translateY(50px);

    li {
      width: 50%;
      text-align: center;
      line-height: 6rem;
      background-color: #f3f2f2;

      a {
        display: block;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }

    .on {
      background-color: $blue;
      box-shadow: 0 0px 16px 2px rgba(2, 89, 167, 0.6);

      a {
        color: #fff;
      }
    }
  }

  &__boards {
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    padding: 4rem 5%;
    margin-top: 2.5rem;
    transform: translateY(50px);
    display: none;

    &.view {
      display: block;
    }
  }

  &__aboutTxt01 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 0.8em;
  }

  &__aboutTxt02 {
    font-size: 1.4rem;
    color: #555;
    line-height: 1.5;
  }

  &__more {
    border: 1px solid #ddd;
    // margin-top: 4rem;
    // width: 12.5rem;
    width: 100%;
    margin-top: 2rem;
    line-height: 4rem;
    text-align: center;


    a {
      @include flexAlign;
      font-size: 1.4rem;

      &::before {
        content: '+';
        font-weight: 300;
        color: #bdbdbd;
        font-size: 3em;
        margin-right: 1.5rem;
      }
    }
  }

  &__boardLists {
    border-top: 1px solid #000;
    margin-top: 2rem;

    li {
      line-height: 7rem;
      border-bottom: 1px solid #ddd;
      padding: 0 1.5rem;

      >a {
        @include flexCenter;
      }

      .boardTitle {
        font-size: 18px;
        color: #000;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: calc(100% - 10rem);
      }

      .date {
        font-size: 1.5rem;
      }
    }
  }

  @include tablet {
    margin-bottom: 11rem;

    &__title {
      font-size: 5.5rem;
    }

    &__boards {

      padding: 7rem 6%;

      .boradFlex {
        @include flexStart;
      }
    }

    &__about {
      width: 15rem;
    }

    &__more {
      margin-top: 4rem;
      width: 12.5rem;
    }

    &__boardLists {
      width: calc(95% - 15rem);
      margin-top: 0;
    }
  }
}